<p id="notice"><%= notice %></p>

<h3>Source:<%= @source.origid %></h3>
<dl class="dl-horizontal">
<dt>Name</dt><dd><%if !@source.name.nil?%><%= @source.name %><%else%>&nbsp;<%end%></dd>
<dt>Acronym</dt><dd><%= @source.origid %></dd>
<dt>Country</dt><dd><%= @source.country.name %> (<%= @source.country.code %>)</dd>
<dt>URL</dt><dd><%if !@source.url.nil?%><%= link_to @source.url, @source.url %><%else%>&nbsp;<%end%></dd>
</dl>
<h3>Description</h3>
<p><%= sanitize @source.description %></p>
<p><small>created:<%= @source.created_at %>, updated:<%= @source.updated_at %> </small></p>

<h3>Funding Organizations</h3>
<table class="table table-striped">
<tr>
  <th>Name</th>
</tr>
<% @source.orgunits.each do |orgunit| %>
<% if orgunit.isfunding? %>
<tr>
  <td><%= link_to orgunit.name, orgunit %></td>
</tr>
<% end %>
<% end %>
</table>
<HR>
<h3>Other data</h3>
<ul>
<li><%= link_to 'Funding Programmes', fundings_path('source' => @source) %> (<%=@source.fucount%>)</li>
<li><%= link_to 'Projects', projects_path('source' => @source) %> (<%=@source.prcount%>)</li>
<li><%= link_to 'People', people_path('source' => @source) %> (<%=@source.pecount%>)</li>
<li><%= link_to 'Orgunits', orgunits_path('source' => @source) %> (<%=@source.oucount%>)</li>
<ul>
