<h3>People (<%=@people.size%>/<%=@results.size%>)</h3>

<table class="table table-striped">
<tr>
  <th>Name</th>
</tr>
<% @people.each do |person| %>
<tr>
  <td><%= link_to person.fullname, person %></td>
</tr>
<% end %>
</table>
<%= paginate @people %>
<%if !@source.nil? %>
<p><small> source:<%= link_to @source.origid, @source %></small></p>
<% end %>
