<p id="notice"><%= notice %></p>

<h3>User:<%= @user.fullname %></h3>

<dl class="dl-horizontal">
<dt>Familyname:</dt><dd><%= @user.familyname %></dd>
<dt>Firstname:</dt><dd><%= @user.firstname %></dd>
<dt>Login:</dt><dd><%= @user.login %></dd>
<dt>StartDate:</dt><dd><%if !@user.startdate.nil? && !@user.startdate.empty? %><%= @user.startdate %><%else%>&nbsp;<%end%></dd>
<dt>EndDate:</dt><dd><%if !@user.enddate.nil? && !@user.enddate.empty? %><%= @user.enddate %><%else%>&nbsp;<%end%></dd>
<dt>URL:</dt><dd><%if !@user.url.nil? && !@user.url.empty? %><%= link_to @user.url, @user.url %><%else%>&nbsp;<% end %></dd>
</dl>

<h3>Sources</h3>
<% if !@user.sources.empty? %>
<table class="table table-striped">
<%= render :partial => "sources/header" %>
<%= render :partial => "sources/source",
	           :collection => @user.sources %>
</table>
<% end %>