<p id="notice"><%= notice %></p>

<h3><%= @user.fullname %></h3>

<dl class="dl-horizontal">
<dt>Familyname:</dt><dd><%= @user.familyname %></dd>
<dt>Firstname:</dt><dd><%= @user.firstname %></dd>
<dt>Login:</dt><dd><%= @user.login %></dd>
<dt>Country:</dt><dd><%if !@user.country.nil? %><%= link_to @user.country.name, @user.country %><%else%>&nbsp;<%end%></dd>
</dl>

<% if !@user.sources.empty? || !current_user.nil? %>
<h3>Preferred Sources<%if !current_user.nil? && current_user == @user %><%= link_to image_tag("icons/add.png"), chooseSource_user_path(@user) %><%end%></h3>
<table class="table table-striped">
	<tr>
	<th>Name</th>
	<th>Country</th>
	<th>Actions</th>
	</tr>
<% @user.sources.each do |source| %>
	<tr>
	<td><%= link_to source.origid, source %></td>
	<td><%=source.country.name%></td>
	<td><%if !current_user.nil? && current_user == @user %><%= link_to image_tag("icons/delete.png"), deleteSource_user_path(@user, :source_id => source.id) %><%end%></td>
	</tr>
<% end %>
</table>
<% end %>
