<h3>Orgunits (<%=@orgunits.size%>/<%=@results.size%>)</h3>

<table class="table table-striped">
<tr>
  <th>Name</th>
  <th>Type</th>
</tr>
<% @orgunits.each do |orgunit| %>
<tr>
  <td><%= link_to orgunit.name, orgunit %></td>
  <td><%if orgunit.isfunding? %>funding<%else%>research<%end%></td>
</tr>
<% end %>
</table>
<%= paginate @orgunits %>
<%if !@source.nil? %>
<p><small> source:<%= link_to @source.origid, @source %></small></p>
<% end %>
