<h3>Welcome to the BiodivERsA database</h3>
<p>The BiodivERsA database is a <a href="http://en.wikipedia.org/wiki/Current_Research_Information_System", target="blank">Current Research Information System(CRIS)</a> that compiles information about past and current funding programs on biodiversity in Europe (including thematic and blue sky programs, grants, fellowships and studentships), research organisations, and project leading researchers active in biodiversity research. As such, the database aims to help any scientist in the EU to identify potential resources and network opportunities to further develop their research. The database also strives to help the BiodivERsA consortium in analysing the biodiversity funding landscape, and in identifying biodiversity research priorities to design common calls. Finally, the database aims at helping to find scientific expertise to specific policy questions, which can, e.g. be a support mechanism for the bioversity Network of knowledge (EU-project NoK) and similar initiatives.</p>

<p>For now, the database delivers information related to research programs funded by the research agencies who are members of BiodivERsA but eventually aims at compiling information on all funding programs open to biodiversity research in Europe, at regional, national and European level. Such an improvement and enlargement of the database will contribute significantly to the development of the European Research Area, and help the identification of research gaps on a European level. </p>

<p>The database complies to the CERIF standard (Common European Research Information Format). This CRIS exchange scheme covers objects, being “Funding Programme” (i.e. organizational grouping of research projects or activities with a common funding and steering mechanism), “Funding organisation” (i.e. public, private or charitable organisation funding research open to external competition), “Project” (i.e. funded units within or outside a research program which has defined goals, objectives and timeframe), “Research organisation” (universities or research institutes) and “Person” (project managers and researchers).</p>

<p>The <b>BiodivERsA</b> database compiles information on European national and regional funding programmes and funding organisations supporting biodiversity research.</p>

<p>The database presently includes <b>open access</b> to information on:</p>
<ul>
<li><%= number_with_delimiter(@faCount, :delimiter => ".") %> Funding Organisations</li>
<li><%= number_with_delimiter(@fpCount, :delimiter => ".") %> Funding Programmes (<%= number_with_delimiter(@acCount, :delimiter => ".")%> Annual Calls)</li>
<li><%= number_with_delimiter(@roCount, :delimiter => ".") %> Research Organisations</li>
<li><%= number_with_delimiter(@prCount, :delimiter => ".") %> Research Projects</li>
<li><%= number_with_delimiter(@peCount, :delimiter => ".") %> People</li>
</ul>

<p>This database is <b>freely</b> accessible to everyone; however user <%= link_to "registration", signup_path %> is <b>mandatory.</b><br>
This will facilitate the communication between BiodivERsA database adminstrators and the community of users. As a <b>registered user</b> you will be able to <%= link_to 'search', search_path %> and <b>download</b> your search results in CSV format compatible with your preferred spreadsheet software. <br> For further information, please read our <%= link_to "Data Usage Agreement", dua_path %>.</p>
<hr>
<p>For more information, please contact <a href='mailto:h.eggermont@biodiversity.be'>Hilde Eggermont</a>, at Belgian Science Policy.</p>