<h2>Links</h2>

<h3>Documents</h3>
<table class="table-striped">
<% @documents.each do |doc| %>
	<tr><td><%= link_to image_tag(doc.icon, :title =>'download' ), download_documents_path(:name => doc.name) %></td><td><%=doc.title%></td></tr>
<% end %>
</table>
<hr>
<h3>Data Sources</h3>
<table class="table-striped">
<tr>
  <th>Name</th>
  <th>Acronym</th>
  <th>Country</th>
  <th>URL</th>
</tr>

<% @sources.each do |source| %>
<tr>
    <td><%if !source.name.nil?%><%= link_to source.name, source %><%else%>&nbsp;<%end%></td>
    <td><%= source.origid%></td>
    <td><%= source.country.name %></td>
    <td><%if !source.url.nil?%><%= link_to source.url, source.url %><%else%>&nbsp;<%end%></td>

</tr>
<% end %>
</table>
<hr>
<h3>Related databases</h3>
<ul>
<li><a href="http://www.fwf.ac.at/en/projects/projekt_suche.html", target="blank">FWF</a> (Fonds zur Förderung der wissenschaftlichen Forshung; Austria)</li>
<li><a href="http://gepris.dfg.de/gepris/OCTOPUS", target="blank">GEPRIS database</a> (DFG-German Research Foundation)</li>
<li><a href="http://www.envirobase.info", target="blank">ENVIROBASE</a>, a development of the Environmental Research Database which now includes information about environmental observations collated by the UK Environmental Observation Framework</li>
<li><a href="http://randd.defra.gov.uk/Default.aspx?Menu=Menu&Module=Theme&Completed=0", target="blank">DEFRA's database</a> (The Department of the Environment, Food and Rural Affairs)</li>
<li><a href="http://www.fct.pt", target="blank">R&amp;D projects database</a> (FCT-Fundaçâo para a Ciênciae a Tecnologia)</li>
<li><a href="http://www.belspo.be/belspo/invent/intro_en.stm", target="blank">INVENT database</a>, a permanent inventory of scientific potential in the Belgian public institutions by BELSPO (Belgian Science Policy)</li>
<li><a href="http://www.belspo.be/belspo/fedra/intro_en.stm", target="blank">FEDRA database</a>, research actions funded by BELSPO (Belgian Science Policy)</li>
<li><a href="http://www.forskningsradet.no/en/Project_database/1184150364215", target="blank">RCN's projects database</a> (RCN-Research Council Norway)</li>
<li><a href="http://www.portailfrb.fr", target="blank">FRB's database</a> (FRB-Fondation pour la Recherche sur la Biodiversité)</li>
<li><a href="http://cordis.europa.eu/fp7/projects_en.html", target="blank">European FP7- project database</a></li> 
</ul>
