<h3>Projects (<%=@projects.size%>/<%=@results.size%>)</h3>
<table class="table table-striped">
<tr>
  <th>Title</th>
</tr>
<% @projects.each do |project| %>
<tr>
  <td><%= link_to project.title, project %></td>
</tr>
<% end %>
</table>
<%= paginate @projects %>
<%if !@source.nil? %>
<p><small> source:<%= link_to @source.origid, @source %></small></p>
<% end %>
