<div class="well btn-group">
<%= form_tag search_projects_path, :method => :get do %>
  <%= text_field_tag :query, params[:query] %>  
  <%= submit_tag "Search", :class => "btn btn-info" %> 
  <%= label_tag "narrow search to country:"%>
  <%= select_tag "country", options_from_collection_for_select(@countries, "id", "name", params[:country]), :include_blank => true %>
<% end %>
</div>
<p id="notice"><%= notice %></p>
<% if !@projects.empty? %>

<h4>Projects (<%=@projects.size%>/<%=@results.size%>) 
<%if !current_user.nil? %><%= link_to image_tag("icons/download.png", :title => "Download results"), download_projects_path(:country => params[:country], :query => params[:query]) %><%end%>
</h4>

<table class="table-striped">
<tr>
  <th>Title</th>
   <%if !params[:query].empty?%><th>Relevance</th><%end%>
</tr>
<% @projects.each do |project| %>
<tr>
  <td><%= link_to project.title, project %></td>
   <%if !params[:query].empty?%><td><%= number_to_percentage(project.rank, :precision => 2) %></td><%end%>
</tr>
<% end %>
</table>
<%= paginate @projects %>
<% end %>
